.cast_list {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.cast_item {
  width: 250px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
  gap: 10px;
}

.cast_title {
  font-size: 20px;
  font-weight: 600;
}

.cast_subtitle {
  font-style: italic;
  font-size: 16px;
}

.cast_subtitle span {
  color: aqua;
}
